@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w { /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*头部导航开始*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.shortcut .dt,
.shortcut .fore {
    padding: 0 20px 0 10px;
    position: relative;
}

.dt i,
.fore i {
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s,
.fore s {
    position: absolute;
    top: -8px;
    left: 0;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line,
.other .link .line
{
    width: 1px;
    height: 12px;
    background-color: #dddddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding: 0 20px 0 25px;
}

.tel {
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat;
    left: 5px;
    top: 5px;
}

/*顶部end*/
/*topbanner start*/
.topbanner {
    background-color: #8A25C6;
}

.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../images/close.png) no-repeat;
}

.close-banner:hover {
    background-position: bottom;
}

.tp {
    position: relative;
}

/*topbanner end*/

.mask{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top:0;
    left: 0;
    z-index: 999;
}

.login{
    width: 400px;
    height: 250px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -200px;
}

.login span{
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}

.logo {
    width: 360px;
    height: 75px;
    background-color: pink;
    float: left;
    padding-top: 25px;
    background: url(../images/logo.png) no-repeat 0 25px;
    position: relative;
}

.db11 {
    position: absolute;
    width: 180px;
    height: 80px;
    background-color: pink;
    top: 10px;
    left: 168px;
}

.car {
    width: 139px;
    height: 34px;
    background-color: blue;
    float: right;
    margin: 25px 65px 0 0;
}

/*头部导航开始*/
.banner {
    height: 30px;
    width: 100%;
    line-height: 30px;
    background-color: #f1f1f1;
}

.dt,
.fr .fore {
    padding: 0 25px 0 10px;
    position: relative;
}

.fl i,
.fr .fore i {
    font: 400 18px/18px "sans-serif";
    position: absolute;
    top: 13px;
    display: block;
    height: 9px;
    width: 20px;
    overflow: hidden;
}

.fl s,
.fr .fore s {
    position: relative;
    top: -10px;
    left: 0;
}

.fr .jd-tel {
    padding: 0 25px;
}

.fr .jd-tel .tel {
    background: url(../img/sprite.png) no-repeat 15px 20px;
    background-position: 0 0;
}

/*京东头部结束*/

/*京东topbanner开始*/
.top-banner {
    background-color: #8A25C6;
}

.topbannerparent {
    position: relative;
}

.top-banner .close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    background: url(../img/close.png) no-repeat 19px 19px;
    background-position: top;
}

.close-banner:hover {
    background-position: bottom;
}

.w .logo {
    position: relative;
    float: left;
    width: 360px;
    height: 75px;
    background: url("../img/logo.png") no-repeat;
    top: 25px;
}

.jd-a {
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;
}

.w .logo img {
    position: absolute;
    top: -12px;
    left: 168px;
}

.w .search {
    width: 538px;
    height: 36px;
    float: left;
    padding-top: 40px;
    position: relative;
}

.w .search #txt {
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    font: 400 14px/32px "microsoft yahei";
    color: #CCC;
    float: left;
}


.w .search #button {
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    color: white;
    float: left;
    font: 400 16px/36px "microsoft yahei";
    cursor: pointer;
}

.w .list {
    width: 536px;
    height: 30px;
    float: left;
    color: #B61D1D;
    padding-top: 4px;
}
.w .list a{
    position: relative;
    float: left;
    padding-right: 10px;
}

.w .cart {
    width: 96px;
    height: 34px;
    float: right;
    position: relative;
    border: 1px solid #DFDFDF;
    padding-left: 43px;
    line-height: 34px;
    margin-top: -35px;
}
.w .cart .icon1{
    position: absolute;
    width: 16px;
    height: 13px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -1px -59px;
    overflow: hidden;
    top:10px;
    left: 20px;
}
.w .cart .icon2{
    font: 400 13px/34px simsun;
    position: absolute;
    right: 15px;
}

.w .cart .icon3{
    width: 16px;
    height: 14px;
    position: absolute;
    background-color: #C81623;
    font: 200 8px/14px "Arial";
    color: white;
    text-align: center;
    top: -3px;
    border-radius: 7px 7px 7px 0;
}



/*nav部分*/

.jd-nav{
    height: 44px;
    border-bottom: 2px solid #B1191A;
}

.jd-nav .w .category{
    width: 210px;
    height: 44px;
    float: left;
    background-color: #B1191A;
    position: relative;
    z-index: 10;
    overflow: visible;
    color: white;

}
.jd-nav .w .category dt{
    height: 44px;
    background-color: #B1191A;
    margin-bottom: 2px;

}
.jd-nav .w .category dt a{
    display: block;
    height: 44px;
    font: 400 12px/44px "microsoft yahei";
    color: white;

    text-align: center;
}

.jd-nav .w .category dd{
    height: 30px;
    background-color: #C81623;
    border-left: 1px solid #B1191A;

}
.jd-nav .w .category dd a{
    font: 200 10px/30px "microsoft yahei";
    color: white;
    padding-left: 10px;
}
.jd-nav .w .category dd span{
    float: right;
    padding-right: 10px;
    font: 200 10px/30px "microsoft yahei";
}

.jd-nav .w .navitems{
    width: 680px;
    height: 44px;
    float: left;
}
.jd-nav .w .navitems ul li{
    float: left;
    font: 700 16px/44px "microsoft yahei";
    padding: 0 30px;
}

.jd-nav .w .navitems .new{
    background: url("../img/new.jpg") no-repeat right top;
}
.jd-nav .w .bike{
    height: 44px;
    width: 140px;
    background: url("../img/bike.jpg") no-repeat;
    float: right;
}
.jd-nav .w .bike a{
    height: 44px;
    display: block;
}

/*底部*/

.jd-footer{
    background-color: #F5F5F5;
}

.jd-footer .service{
    position: relative;
    display: block;
    background-color: #F5F5F5;
}
.jd-footer .service .slogen{
    height: 54px;
    padding: 20px 0;
    background-color: #F5F5F5;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid#E5E5E5;
}

 .slogen .item{
    width: 302px;
    position: absolute;
    left: 50%;
}

.slogen1{
    margin-left: -608px;
}
.slogen2{
    margin-left: -304px;
}
.slogen3{
    margin-left: 2px;
}
.slogen4{
    margin-left: 304px;
}


.jd-footer .service dl{
    float: left;
}

.jd-footer .service dt{
    font: 700 14px/40px "microsoft yahei";
    height: 40px;
    width: 198px;

}
.jd-footer .service dd{
    height: 20px;
}
.jd-footer .service .coverage{
    float: right;
    width: 209px;
    height: 175px;
    text-align: center;
    background: url("../img/china.png") no-repeat 204px 169px;
    background-position: bottom left;
}
.jd-footer .service .coverage dd{
    text-align: left;
    line-height: 18px;
    margin-top: 10px;
    padding: 0 15px;
}
.jd-footer .service .coverage dd p{
    text-align: right;
}

.jd-footer .other{
    margin-top: 30px;
    padding-top: 23px;
    border-top: 1px solid #E5E5E5;
}
.jd-footer .other .link ul{
    display: table;
    margin: 0 auto;
    text-align: center;
}
.jd-footer .other .link ul li {
    font: 400 12px/12px "microsoft yahei";
    margin-top: 10px;
    float: left;
}
.jd-footer .other .link ul li a{
    padding: 0 8px;
}
.copyright{
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
}
.message{
    text-align: center;
}



